@* Web Socket helper *@
@(name: String)(implicit request: RequestHeader)

<script type="text/javascript" charset="utf-8">

	// still in global scope... :(
	var @name;
	
	if (typeof require === 'function') {
		
		require(['websocket_plugin'], function(WS) {
		
			if (WS === undefined) {
				console.error("WebSocket: cannot load websocket_plugin module.");	
			} else {
				@name = new WS("@name", "#__placeholder_@name");
			}
		
		})
	} else {
	
		@name = new WS("@name", "#__placeholder_@name");
	
	}
				
</script>

<div id="__placeholder_@name">
</div>